# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
web-build/

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.env
temp_videos/

# Misc
.DS_Store
.idea/
.vscode/
